
@font-face {
    font-family: 'Pribambas-Regular';
    src: url('/fonts/Pribambas-Regular.eot'); /* IE9 Compat Modes */
    src: url('/fonts/Pribambas-Regular.eot?#iefix') format('embedded-opentype'); /* IE6-IE8 */
    src: url('/fonts/Pribambas-Regular.woff2') format('woff2'); /* Super Modern Browsers */
    src: url('/fonts/Pribambas-Regular.woff') format('woff'); /* Pretty Modern Browsers */
    src: url('/fonts/Pribambas-Regular.ttf')  format('truetype'); /* Safari, Android, iOS */
  }

.banner {
    background-attachment: fixed;
    /* background-color: #272833; */
    background-image: url("../img/banner.jpg");
    background-position: center right;
    background-size: cover;
    min-height: 100vh;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
}

.title {
    font-family: 'Pribambas-Regular';
    text-align: center;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
    font-size: 16vw;
    padding: 0.4em 0;
    color: white;
    /* background: #6ba87877; */
}

.footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    /* background: rgba(194, 21, 156, 0.329); */
    text-align: center;
}

.links {
    padding: 0.5em 0;
}

a { 
    font-family: 'Pribambas-Regular';
    text-decoration: none;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
    color: white;
    font-size: 13vw;
}